.AboutCard {
    background: #010101 0% 0% no-repeat padding-box;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 400px;
    border-bottom: 3px solid white;
}