.MyWorkPage {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  justify-content: center;
}

.MyWorkPage h1{
  padding-left: 2rem;
  font-size: 2.5rem;
}

// Colors
$dark-blue: #32325d;
$gray: #f8f8f8;



//Flex container
.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  margin: 0;
  background-color: #010101;
}

// Cards
.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 40%;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 25%;
  }

  .card-item {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 25, 25);
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      .card-image {
        opacity: 1;
      }
    }
  }

  // Content
  .card-info {
    display: flex;
    height: 60%;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    line-height: 1.5em;
  }

  .card-title {
    font-size: 25px;
    line-height: 1.1em;
    color: #e4e4ed;
    margin-bottom: 0.2em;
  }

  // Images
  .card-image{
    height: 40%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    opacity: 0.91;
  }
}

.chip-styles, .btn-styles{
  color: white;
}