.HomePage {
    width: 100%;
    height: 100vh;
}
.my-img{
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100%;
    background-size: cover;
    top: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.top-bar{
    height: 6%;
    display: flex;
    width: 52%;
    justify-content: space-evenly;
}
.container{
    height: 92vh;
    display: flex;
}
.intro-para{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.phone, .email{
    width: 100%;
}
.phone:hover, .email:hover{
    transform: scale(1.2);
    color: #f5941c;
}

.info-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
.info-div h1,.info-div h3{
    margin: 0;
}
.typing-text{
    color: #f5941c;
}